@using BriefingRoom4DCS.GUI.Utils
@using BriefingRoom4DCS.Template
@inject BriefingRoom4DCS.BriefingRoom briefingRoom

<div id="missions" class="generator-block">
    <h3>@briefingRoom.Translate("Missions")</h3>
    <div class="generator-group flex-justify-spaced flex-margin-fix">
        <div class="form-group flex-block">
            <label>@briefingRoom.Translate("MissionCount")</label>
            <InputNumber class="form-control" @bind-Value="Template.MissionsCount"></InputNumber>
        </div>
        <InputEnum ClassString="flex-block" Label=@briefingRoom.Translate("MissionDifficultyVariation")
            @bind-Value="Template.MissionsDifficultyVariation" EnumType="CampaignDifficultyVariation" />
        <InputEnum ClassString="flex-block" Label=@briefingRoom.Translate("Progression")
            @bind-Value="Template.MissionsProgression" EnumType="AmountNR" />
    </div>
    <div class="form-group">
        <label>@briefingRoom.Translate("MissionFeatures")</label>
        <CheckBoxList Data="briefingRoom.GetDatabaseEntriesInfo(DatabaseEntryType.MissionFeature).ToList()"
            TextField="@(item =>item.Name.Get(briefingRoom.LanguageKey))"
            DescriptionField="@(item => item.Description.Get(briefingRoom.LanguageKey))"
            GroupingField="@(item => item.Category.Get(briefingRoom.LanguageKey))" ValueField="@(item =>item.ID)"
            SelectedValues="Template.MissionFeatures" TItem="DatabaseEntryInfo" TItemOutput="string">
        </CheckBoxList>
    </div>
    <div class="form-group">
        <h4>@briefingRoom.Translate("Objectives")</h4>
        <CheckBoxList Data="briefingRoom.GetDatabaseEntriesInfo(DatabaseEntryType.ObjectivePreset).ToList()"
            TextField="@(item =>item.Name.Get(briefingRoom.LanguageKey))"
            DescriptionField="@(item => item.Description.Get(briefingRoom.LanguageKey))" ValueField="@(item =>item.ID)"
            SelectedValues="Template.MissionsObjectives" TItem="DatabaseEntryInfo" TItemOutput="string">
        </CheckBoxList>
    </div>
    <div class="flex-block">
        <h6>@briefingRoom.Translate("ObjectiveDistance")</h6>
        <div class="min-max">
            <label>@briefingRoom.Translate("Min")</label>
            <InputNumber class="form-control" @bind-Value="Template.FlightPlanObjectiveDistanceMin">
            </InputNumber>
        </div>
        <div class="min-max">
            <label>@briefingRoom.Translate("Max")</label>
            <InputNumber class="form-control" @bind-Value="Template.FlightPlanObjectiveDistanceMax">
            </InputNumber>
        </div>
    </div>
    <div class="generator-group flex-justify-spaced flex-margin-fix">
        <InputEnum ClassString="flex-block" Label=@briefingRoom.Translate("ObjectivesCount")
            @bind-Value="Template.MissionsObjectiveCount" EnumType="Amount" />
        <InputEnum ClassString="flex-block" Label=@briefingRoom.Translate("TargetCount")
            @bind-Value="Template.MissionTargetCount" EnumType="Amount" />
        <InputEnum ClassString="flex-block" Label=@briefingRoom.Translate("ObjectiveVariationDistance")
            @bind-Value="Template.MissionsObjectiveVariationDistance" EnumType="Amount" />
    </div>
</div>

@code {
    [Parameter] public CampaignTemplate Template { get; set; }
}