@using Blazored.Typeahead
@using BriefingRoom4DCS.GUI.Common.Shared.Inputs.Context
@using BriefingRoom4DCS.GUI.Utils
@using BriefingRoom4DCS.Template
@inject BriefingRoom4DCS.BriefingRoom briefingRoom

<div id="context" class="generator-block">
    <h3>@briefingRoom.Translate("Context")</h3>
    <div class="generator-group flex-justify-spaced flex-margin-fix">
        <CoalitionInput Label="BlueCoalition" builderUtils="@builderUtils"
            @bind-CoalitionId="@Template.ContextCoalitionBlue" />
        <CoalitionInput Label="RedCoalition" builderUtils="@builderUtils"
            @bind-CoalitionId="@Template.ContextCoalitionRed" />
    </div>
    <div class="generator-group flex-justify-spaced flex-margin-fix">
        <InputDataBase ClassString="flex-block" Label=@briefingRoom.Translate("Theater")
            @bind-Value="Template.ContextTheater" DataBaseType="DatabaseEntryType.Theater" />
        <InputDataBase ClassString="flex-block" Label=@briefingRoom.Translate("Situation")
            @bind-Value="Template.ContextSituation" DataBaseType="DatabaseEntryType.Situation"
            Grouping="@Template.ContextTheater" EmptOpt=@briefingRoom.Translate("Random")
            CustomOpt="None (Spawn Anywhere),None" />
            @if (CampaignTemplate != null)
            {
                <CheckboxWrapped row @bind-Value="@CampaignTemplate.StaticSituation" Label="StaticSituation" />
            }
    </div>
    <InputDataBase Label=@briefingRoom.Translate("HomeAirbase") @bind-Value="Template.FlightPlanTheaterStartingAirbase"
        DataBaseType="DatabaseEntryType.Airbase" Grouping="@Template.ContextTheater"
        EmptOpt=@briefingRoom.Translate("Random") />
    @if (CampaignTemplate != null)
    {
        <InputEnum ClassString="flex-block" Label=@briefingRoom.Translate("AirbaseVariationDistance")
            @bind-Value="CampaignTemplate.MissionsAirbaseVariationDistance" EnumType="AmountN" />
    }
    <InputEnum Label=@briefingRoom.Translate("TimePeriod") @bind-Value="Template.ContextDecade" EnumType="Decade" />
    <InputEnum Label=@briefingRoom.Translate("PlayerSide") @bind-Value="Template.ContextPlayerCoalition"
        EnumType="Coalition" />
</div>
<hr />
<div id="environment" class="generator-block">
    <h3>Environment</h3>
    @if (MissionTemplate != null)
    {
        <div class="generator-group flex-justify-spaced flex-margin-fix">
            <InputEnum ClassString="flex-block" Label=@briefingRoom.Translate("Season")
                @bind-Value="MissionTemplate.EnvironmentSeason" EnumType="Season" />
            <InputEnum ClassString="flex-block" Label=@briefingRoom.Translate("TimeOfDay")
                @bind-Value="MissionTemplate.EnvironmentTimeOfDay" EnumType="TimeOfDay" />
        </div>

        <div class="generator-group flex-justify-spaced flex-margin-fix">
            <InputDataBase ClassString="flex-block" Label=@briefingRoom.Translate("WeatherPreset")
                @bind-Value="MissionTemplate.EnvironmentWeatherPreset" DataBaseType="DatabaseEntryType.WeatherPreset"
                EmptOpt=@briefingRoom.Translate("Random") />
            <InputEnum ClassString="flex-block" Label=@briefingRoom.Translate("Wind")
                @bind-Value="MissionTemplate.EnvironmentWind" EnumType="Wind" />
        </div>
    }
    else if (CampaignTemplate != null)
    {
        <div class="generator-group flex-justify-spaced flex-margin-fix">
            <InputEnum ClassString="flex-block" Label=@briefingRoom.Translate("BadWeatherChance")
                @bind-Value="CampaignTemplate.EnvironmentBadWeatherChance" EnumType="Amount" />
            <InputEnum ClassString="flex-block" Label=@briefingRoom.Translate("NightMissionChance")
                @bind-Value="CampaignTemplate.EnvironmentNightMissionChance" EnumType="Amount" />
        </div>
    }
</div>

@code {
    [Parameter] public BuilderUtils builderUtils { get; set; }
    [Parameter] public BaseTemplate Template { get; set; }

    private MissionTemplate MissionTemplate;
    private CampaignTemplate CampaignTemplate;

    protected override void OnParametersSet()
    {
        MissionTemplate = Template as MissionTemplate;
        CampaignTemplate = Template as CampaignTemplate;
    }
}