@inject BriefingRoom4DCS.BriefingRoom briefingRoom

<div class="flex-block">
    <h6>@briefingRoom.Translate(Label)</h6>
    <div class="min-max">
        <label>@briefingRoom.Translate("Min")</label>
        <InputNumber class="form-control" Value="MinValue" ValueExpression="@(() => MinValue)"  ValueChanged="(int i) => OnMinValueChanged(i)">
        </InputNumber>
        <label>@briefingRoom.Translate("Max")</label>
        <InputNumber class="form-control" Value="MaxValue" ValueExpression="@(() => MaxValue)" ValueChanged="(int i) => OnMaxValueChanged(i)">
        </InputNumber>
    </div>
</div>

@code {
    [Parameter] public string Label { get; set; }
    [Parameter] public int MinValue { get; set; }
    [Parameter] public int MaxValue { get; set; }
    [Parameter] public EventCallback<int> MinValueChanged { get; set; }
    [Parameter] public EventCallback<int> MaxValueChanged { get; set; }

    private async Task OnMinValueChanged(int value)
    {
        await MinValueChanged.InvokeAsync(value);
    }

    private async Task OnMaxValueChanged(int value)
    {
        await MaxValueChanged.InvokeAsync(value);
    }
}